<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="book_readee">Welcome to Book Readee!</h1>
      This site is for people who love books. <br>
      You can check the contents and reviews of books that you are interested in buying.<br>
      Please check out the books you are interested in.
    </div>
  </div>
</div>
